#locations {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin-left: 3em;
    margin-bottom: 5em;
}

#locationsAndGuests {
    display: flex;
}

.details {
    max-width: 70%;
}

.guests {
    margin: 1rem;
}

.locationCard {
    border: 1px solid black;
    border-radius: 5px;
    margin: .5em;
    padding: 1em;
    max-width: 20%;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  margin-top: auto; /* Helps with layout if using flexbox */
}

.header {
  display: flex;         /* Enables Flexbox */
  align-items: center;   /* Vertically centers the logo and text */
  gap: 20px;             /* Adds space between the logo and text */
}

.logo {
  height: 50px;          /* Set your desired logo height */
  width: auto;           /* Maintains aspect ratio */
}